In [2]:
import pandas as pd
import pyodbc 
from joblib import dump, load

In [4]:
#pip install pandas
#pip install pyodbc
#pip install joblib
#pip install scikit-learn

In [3]:
dados_conexao = (
    "Driver={SQL Server};"
    "Server=DESKTOP-FETGEDT;"
    "Database=REVOSOFT;"
)

conexao = pyodbc.connect(dados_conexao)
print("Conectado")

cursor = conexao.cursor()

Conectado

In [9]:
#inserir valores no banco

inserir = """    
    
    INSERT INTO Usuarios(Nome, Sobrenome, Senha, Email, Telefone) VALUES 
    ('Guilherme', 'Rosa', 'revosoft', 'guilhermeRevosoft@gmail.com','(11)91111-2222' );
    
    INSERT INTO Veiculos(Modelo, Ano, Placa, UsuariosId) VALUES 
   ('Territory', '2023', 'XXXXXX', 1 );
  """
cursor.execute(inserir)
cursor.commit()

In [4]:
query = """select * from Sensores where VeiculosId = 1"""

df = pd.read_sql(query, conexao)

C:\Users\guilh\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [5]:
df.head()

   SensorId  Temperatura  Tempo   Kms  VeiculosId
0         1         90.0   99.0  10.0           1
1         2         85.0  100.0  20.0           1
2         3         91.0  101.0  30.0           1
3         4        102.0  102.0  40.0           1
4         5         95.0  104.0  50.0           1

In [3]:
modelo = load('modelo.joblib')

C:\Users\guilh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.0.2 when using version 1.1.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\guilh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 1.0.2 when using version 1.1.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [27]:
suporte_score= 0
for i in range(len(df)):
    if df['Temperatura'].loc[i] >= 101 or df['Temperatura'].loc[i] <= 83:
        suporte_score += 1
        print(suporte_score)
        
inserirValores(encontrarUltimo(), suporte_score)

1
2
3
4
5
inserido com sucesso

In [25]:
def inserirValores(pecas, scoreCalc):
    inserir = f"""INSERT INTO Pecas (MotorScore, CambioScore, PneuScore, VeiculosId) VALUES 
          ({pecas[1]}, {pecas[2]}, {pecas[3]}, {pecas[4]} )"""      


    cursor.execute(inserir)
    cursor.commit()
    
    print("inserido com sucesso")

In [24]:
print(encontrarUltimo())

(3, Decimal('10.00'), Decimal('3.50'), Decimal('10.00'), 1)

In [19]:

def encontrarUltimo():
    
    ultimo = """  SELECT TOP (1) * FROM [Revosoft].[dbo].[Pecas] WHERE VeiculosId = 1 ORDER BY PecasId DESC"""
    cursor.execute(ultimo)
    cambio = cursor.fetchone()
    return cambio

In [56]:
for veiculo in lista:
    model = modelo.predict([[veiculo[2],veiculo[3],veiculo[4], veiculo[5], veiculo[6]]])

    status = model[0]
    alocar = f"""INSERT INTO IA (veiculo_id, dia, status) VALUES 
      ({veiculo[0]}, '25/08/2022', '{status}')"""
    print(status)
    print(alocar)
    cursor.execute(alocar)
    cursor.commit()

Revisao
INSERT INTO IA (veiculo_id, dia, status) VALUES
      (1, '25/08/2022', 'Revisao')
Bom
INSERT INTO IA (veiculo_id, dia, status) VALUES
      (2, '25/08/2022', 'Bom')
Ruim
INSERT INTO IA (veiculo_id, dia, status) VALUES
      (3, '25/08/2022', 'Ruim')

c:\users\marco\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\users\marco\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\users\marco\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [6]:
cliente1 = pd.read_csv('Cliente 1/cliente-1.csv')

In [7]:
cliente1.head(12)

   Temperatura  Dias
0           90    99
1           85   100
2           91   101
3          102   102
4           95   103
5           75   104
6          105   105
7          110   106
8          107   107

In [10]:
suporte_score= 0
for i in range(len(cliente1)):
    if cliente1['Temperatura'].loc[i] >= 101 or cliente1['Temperatura'].loc[i] <= 83:
        suporte_score += 1
        print(suporte_score*1.3)

1.3
2.6
3.9000000000000004
5.2
6.5